.Results {
    display: grid;
    justify-content: center;
    grid-template: auto / auto auto;
    column-gap: 20px;
    justify-items: center;
}

.Results_Title {
    color: white;
}

.Results_Name {
    color: white;
}

.Results_Points {
    color: white;
}