.TabMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.TabMenu_Button {
    color: rgba(255,255,255,.8);
    cursor: pointer;
    padding: 10px;
    line-height: 15px;


    &:hover {
        color: rgba(255,255,255,1);
    }

    &.TabMenu_Button-selected {
        font-weight: bold;
        border-bottom: 1px solid white;
    }

    &:before {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}